
<div class="row">
  <div class="col-md-6 mx-auto mt-5">
    <div class="card">
      <div class="card-body">
        <h1 class="text-center">Iniciar Sesión</h1>
        <form [formGroup]="loginForm" (ngSubmit)="onLogin()">
          <div class="form-group">
            <label for="email">Correo Electrónico</label>
            <input type="email" class="form-control" placeholder="Ejemplo@outlook.com" formControlName="email" />
          </div>
          <div class="form-group">
            <label for="password">Contraseña</label>
            <input
              type="password"
              class="form-control"
              formControlName="password"placeholder="******"
            />
          </div>
          
          <button class="btn btn-primary btn-lg btn-block">
            Ingresar
          </button>
        </form>
        <div class="form-group mt-3">
          <p>
            No tienes cuenta? <a [routerLink]="['/register']"> Registrate aquí </a>
          </p>
        </div>
        <div class="form-group mt-3">
          <p>
            <a [routerLink]="['/forgot-password']"> Olvidaste tu Contraseña? </a>
          </p>
        </div>
      </div>
    </div>
  </div>
</div>
