<div class="row">
  <div class="col-md-6 mx-auto mt-5">
    <div class="card">
      <div class="card-body">
        <h1 class="text-center">Registrate</h1>
        <form [formGroup]="registerForm" (ngSubmit)="onRegister()">
          <div class="form-group">
            <label for="email">Correo Electrónico</label>
            <input type="email" class="form-control" placeholder="Ejemplo@outlook.com" formControlName="email" />
          </div>
          <div class="form-group">
            <label for="password" >Contraseña</label>
            <input
              type="password"
              class="form-control"
              formControlName="password" placeholder="******"
            />
          </div>
          
          <button type="submit" class="btn btn-primary btn-lg btn-block">
            Registrarte
          </button>
        </form>
        <div class="form-group mt-3">
          <p>Ya tienes una cuenta?<a [routerLink]="['/login']"> Ingresa </a></p>
        </div>
      </div>
    </div>
  </div>
</div>
