
<div class="container-xl">
    <div class="table-responsive">
      <div class="table-wrapper">
        <div class="table-title">
          <div class="row">
            <div class="col-sm-6">
              <h2>Gestión de <b>Roles</b></h2>
            </div>
            <div class="col-sm-6">
            </div>
          </div>
        </div>
        <table class="table table-striped table-hover">
          <thead>
            <tr>
              <th>
              <th>Correo Electrónico</th>
              <th>Rol</th>
              <th>Acciones</th>
            </tr>
          </thead>
          <tbody>
  
  
            <tr *ngFor="let cat of users">
              <td>
              <td>{{cat.data.email}}</td>
              <td>{{cat.data.role}}</td>
              <td>
                <a href="#addEmployeeModal" (click)="editUser(cat.id)" class="edit" data-toggle="modal"><i
                    class="material-icons" data-toggle="tooltip" title="Edit">&#xE254;</i></a>
              </td>
  
              <div id="addEmployeeModal" class="modal fade" data-backdrop="false">
                <div class="modal-dialog">
                  <div class="modal-content">
                    <div class="modal-header">
                        <h4 class="modal-title">Modificar producto</h4>
                      <button type="button" class="close" data-dismiss="modal">&times;</button>
                    </div>
                    <div class="modal-body">
                      <form id="add" (ngSubmit)="newUser(newUserForm.value)" [formGroup]="newUserForm">
              
                        <input type="text" placeholder="email" class="form-control" readonly="readonly" formControlName="email"><br>
                        <select type="text" placeholder="role" class="form-control" formControlName="role">
  
                          <option>ADMIN</option>
                          
                          <option>EMPLEADO</option>
                          </select><br>
                        <div class="modal-footer">
                          <input type="button" class="btn btn-default" data-dismiss="modal" value="Cancel">
                          <button class="btn btn-danger"  value="Cancel" [disabled]="!newUserForm.valid"
                            [value]="(currentStatus == 1) ? 'Agregar' : 'Editar'" onclick="submitForm()">Aceptar</button>
                        </div>
                      </form>
                    </div>
                  </div>
                </div>
              </div>
            </tr>
            
          </tbody>
        </table>
  
      </div>
    </div>
  </div>