
<div class="container-xl">
  <div class="table-responsive">
    <div class="table-wrapper">
      <div class="table-title">
        <div class="row">
          <div class="col-sm-6">
            <h2>CRUD de <b>Producto</b></h2>
          </div>
          <div class="col-sm-6">
            <a href="#addEmployeeModal" class="btn btn-success" data-toggle="modal"><i
                class="material-icons">&#xE147;</i> <span>Agregar nuevo producto</span></a>
          </div>
        </div>
      </div>
      <table class="table table-striped table-hover">
        <thead>
          <tr>
            <th>

            <th>Producto</th>
            <th>Precio</th>
            <th>Stock</th>
            <th>Proveedor</th>
            <th>Acciones</th>
          </tr>
        </thead>
        <tbody>


          <tr *ngFor="let cat of products">
            <td>
            <td>{{cat.data.Producto}}</td>
            <td>${{cat.data.Precio}}</td>
            <td>{{cat.data.Stock}}</td>
            <td>{{cat.data.Proveedor}}</td>
            <td>
              <a href="#addEmployeeModal" (click)="editProd(cat.id)" class="edit" data-toggle="modal"><i
                  class="material-icons" data-toggle="tooltip" title="Edit">&#xE254;</i></a>
              <a href="#deleteEmployeeModal" class="delete" data-toggle="modal"><i class="material-icons"
                  data-toggle="tooltip" title="Delete">&#xE872;</i></a>
            </td>

            <div id="addEmployeeModal" class="modal fade" data-backdrop="false">
              <div class="modal-dialog">
                <div class="modal-content">
                  <div class="modal-header">
                    <div *ngIf="currentStatus==1">
                      <h4 class="modal-title">Agregar producto</h4>
                    </div>
                    <div *ngIf="currentStatus==2">
                      <h4 class="modal-title">Modificar producto</h4>
                    </div>
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                  </div>
                  <div class="modal-body">
                    <form id="add" (ngSubmit)="newProd(newProdForm.value)" [formGroup]="newProdForm">
            
                      <input type="text" placeholder="Producto" class="form-control" formControlName="Producto"><br>
            
                      <input type="number" placeholder="Precio" class="form-control" formControlName="Precio"><br>
            
                      <input type="number" placeholder="Stock" class="form-control" formControlName="Stock"><br>
            
                      <input type="text" placeholder="Proveedor" class="form-control" formControlName="Proveedor"><br>
                      <div class="modal-footer">
                        <input type="button" class="btn btn-default" data-dismiss="modal" value="Cancel">
                        <button class="btn btn-danger"  value="Cancel" [disabled]="!newProdForm.valid"
                          [value]="(currentStatus == 1) ? 'Agregar' : 'Editar'" onclick="submitForm()">Aceptar</button>
                      </div>
                    </form>
                  </div>
                </div>
              </div>
            </div>
            
            <div id="deleteEmployeeModal" class="modal fade">
              <div class="modal-dialog">
                <div class="modal-content">
                  <form>
                    <div class="modal-header">
                      <h4 class="modal-title">Eliminar productos</h4>
                      <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    </div>
                    <div class="modal-body">
                      <p>Estás seguro de que deseas borrar este producto?</p>
                    </div>
                    <div class="modal-footer">
                      <input type="button" class="btn btn-default" data-dismiss="modal" value="Cancel">
                      <button class="btn btn-danger" data-dismiss="modal" (click)="deleteProd(cat.id)">Eliminar</button>
                    </div>
                  </form>
                </div>
              </div>
            </div>

          </tr>

        </tbody>
      </table>

    </div>
  </div>
</div>